html {
  scroll-behavior: smooth;
}

body{
  background: url("bannerNoticias.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
  margin: 0px;

  /*background: url("../imagens/fundo2.png");
  color: black;
  font-family: Arial, sans-serif;
  position: absolute;
  margin-left: 100px;*/
}


div#interface {
  width: 900px;
  background: url("../imagens/fundo4.png");
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgb(36, 63, 88);
  padding: 10px 10px 10px 10px;
}

.container {
  /*max-width: 500px;
	/*background: rgb(7, 30, 37);*/
  margin: 0 auto;
  position: relative;
  /*padding-bottom: 20px;*/
}
.top-bar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.top-bar-fixed {
  position: fixed;
  right: 0;
  left: 0;
  margin: 5 0px;
  z-index: 1;
}
.top-bar-content {
  max-width: 0 auto;
  margin: 0 auto;
  background: rgb(12, 12, 12);
  color: rgb(0, 0, 0);
  padding: 18px 0;
  padding-right: 15px;
  font-family: "Roboto" bold;
  box-shadow: 0px 5px 5px rgba(54, 93, 150, 0.5);
  z-index: 1;
}
.titulo {
  font-family: "Danube";
  font-size: 20;
}
/*
h2 {
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
}*/

nav a:link,
nav a:visited {
  margin-left: 50;
  font-family: Roboto Bold;
  padding: 10px 10;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Roboto;
}

img#direita {
  position: absolute;
  z-index: 5;
  margin-left: 700px;
  width: 150px;
  margin-top: 140px;
}

img#esquerda {
  position: absolute;
  z-index: 5;
  margin-left: 80px;
  width: 150px;
  margin-top: 140px;
}

#st3 {
  background: rgba(14, 60, 211, 0.788);
  opacity: 0.9;
  height: 2000px;
  width: 100%;
  font-family: Roboto;
  font-style: bold;
  font-size: 20;
  color: rgb(241, 241, 241);
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  z-index: 3;
}

th {
  width: 30%;
  text-align: left;
}
.cab {
  text-indent: 0px;
  display: block;
  padding: 4px;
  margin: 2px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.cab:hover {
  background-color: #ffffff;
}

.tabela {
  width: 80%;
}

.tabela,
S th,
td {
  border: 1px solid rgb(255, 255, 255);
}

.menu {
  padding-left: 50px;
}

#titulo1 {
  font-size: 25px;
  font-family: roboto;
  color: white;
  margin-top: 40%;
  padding: 60px;
  text-align: center;
  padding-left: 50px;
  background: rgb(12, 12, 12);
  margin-bottom: 0px;
}

h2 {
  font-size: 20px;
  font-family: roboto;
  color: white;
  padding-top: 20%;
  padding: 27px;
  text-align: center;
  background: rgb(35, 35, 87);
  margin-bottom: 0px;
  margin-top: 0px;
}

#logo {
  padding-top: 10px;
  height: 30px;
  width: 80px;
}

#conteudo {
  text-align: left;
}

table {
  /*border-style: hidden;*/
  border: 0px;
  padding-left: 25%;

  padding-inline-start: 30px;
}

#links {
  color: rgb(253, 250, 247);
  font-style: inherit;
  text-decoration: underline;
  text-shadow: 5px 5px 5px rgba(55, 168, 84, 0.897);
}

#noticia {
  width: 400px;
  padding-left: 185px;
  text-shadow: 0px 5px 5px rgba(23, 179, 158, 0.897);
}

fieldset {
  font-family: Roboto bold;
  margin-top: 50px;
  width: 90%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 70px;
}

#baixo {
  background: rgb(32, 32, 32);
  opacity: 1;
}

#compra {
  background: rgb(17, 52, 168);
  color: rgb(255, 255, 255);
  margin-top: 0px;
  font-size: 20px;
}

footer {
  font-size: 20px;
  font-family: roboto;
  color: white;
  padding: 60px;
  text-align: center;
  padding-left: 50px;
  background: rgb(12, 12, 12);
  margin-bottom: 0px;
}

#st5 {
  background: rgba(57, 59, 66, 0.788);
  opacity: 1;
  height: 900px;
  width: 100%;
  font-family: Roboto;
  font-style: bold;
  font-size: 20;
  color: rgb(241, 241, 241);
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  z-index: 3;
}

form{
  padding-top: 5%;
  padding-left: 13%;
  padding-right: 10%;
  padding-bottom: 5%;
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 15px;
  border-style: solid;
  background-color: rgb(252, 252, 252);
  opacity: 98%;
  font-family: Roboto;
  font-size: 20px;
  color: rgb(30, 30, 112);
  /*filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 2;*/
 
}

h1{
  font-family: Roboto;
  font-size: 35px;
  color: rgb(55, 55, 56);
  text-shadow: 5px 5px 15px rgb(32, 32, 136);
  
}

#texto {
  padding-left: 5%;
  font-size: 15px;
  border-radius: 15px;
  width: 80%;
  height: 25px;
  background-color: white;
  opacity: 100%; 
}

textarea{
  padding-left: 0px;
  font-size: 15px;
  border-radius: 15px;
  width: 80%;
  background-color: white;
  opacity: 100%;
  text-align: left;

}

select{
  padding-left: 5%;
  font-size: 15px;
  border-radius: 15px;
  width: 20%;
  height: 25px;
  background-color: rgb(49, 40, 165);
  color: white;
  opacity: 100%;
}

#botao{
  font-size: 15px;
  border-radius: 13px;
  width: 80%;
  height: 35px;
  background-color: rgb(49, 40, 165);
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  opacity: 100%;
  /*box-shadow: 5px 5px 15px rgb(32, 32, 136);;*/
 
}

#cyber{
  width: 100%;
  width: 100%;
  opacity: 1;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-family: Roboto;
  font-size: 25px;
  background-color: rgb(15, 22, 43);
  color: white;
  padding:35px;
  margin: 0px;
}

#video{
  width: 80%;
  height: 28%;
}

p{
  font-size: 20px;
  font-family: Roboto;
}
